.project {
  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 2rem;
  border-bottom: 2px solid #e9aa35;
}
.project__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.project__title {
  text-transform: uppercase;
  font-size: 2.2rem;
}
.project__description {
  padding: 0.5em 1rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
.project__technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project__technologies--item,
.project__links--item {
  font-size: 1.2rem;
  padding: 0.5em 1em;
  font-weight: 500;
  border-radius: 10px;
  margin: 0.5em;
}
.project__technologies--item {
  border: 2px solid #e9aa35;
}
.project__links {
  display: flex;
  justify-content: center;
  margin: 0.5em;
}
.project__links--item {
  background: #e9aa35;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.project__image {
  padding: 1.5rem;
  text-align: center;
}
.project__image img {
  width: 100%;
  max-width: 600px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
@media (min-width: 900px) {
  .project {
    flex-direction: row;
  }
  .project__image,
  .project__info {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
  }
  .project__title {
    font-size: 2.8rem;
  }
  .project__description {
    font-size: 1.5rem;
    padding: 2rem;
  }
}
