.skill {
  min-height: calc(100vh + 15vh);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: #15191e;
  position: relative;
  overflow: hidden;
}
.skill__title {
  font-size: 2.8rem;
  color: #fff;
  text-align: center;
}

.skill__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1.5rem auto 4rem;
}

.skill__item {
  font-size: 1.2rem;
  padding: 0.5em 1em;
  background: #e9aa35;
  color: #fff;
  border-radius: 10px;
  margin: 0.5em;
}

.skill__triangle {
  border-bottom: 5vh solid #fff;
}

@media (min-width: 900px) {
  .skill__item {
    font-size: 1.8rem;
  }
  .skill__box {
    max-width: 80%;
  }
  .skill__triangle {
    border-bottom: 15vh solid #fff;
  }
}
