.form {
  border: 2px solid #e9aa35;
  border-radius: 10px;
  padding: 2rem;
}
.form__title {
  font-size: 2.8rem;
  text-align: center;
}
.form__group {
  display: flex;
  flex-direction: column;
  margin: 0.8em 0;
}
.form__label {
  font-size: 0.9rem;
  margin: 0.2em 0;
}
.form__input,
.form__textarea {
  border: 1px solid #e9aa35;
  border-radius: 5px;
  padding: 0.3em;
  outline: none;
}
.form__input:focus,
.form__textarea:focus {
  border: 2px solid #e9aa35;
}
.form__error {
  font-size: 0.8rem;
  margin-top: 0.3em;
  color: rgb(223, 35, 35);
}
.form__button {
  background: #e9aa35;
  color: #fff;
  padding: 1em;
  width: 200px;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 20px;
  margin: 1.5rem auto 0;
  display: block;
}

@media (min-width: 900px) {
  .form {
    flex-basis: 100%;
  }
}
