.educations {
  min-height: calc(100vh + 15vh);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  background: #15191e;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.educations__title {
  font-size: 2.8rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0.4em;
}
.educations__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.educations__triangle {
  border-bottom: 5vh solid #fff;
}

@media (min-width: 900px) {
  .educations__triangle {
    border-bottom: 15vh solid #fff;
  }
}
