.contact {
  min-height: calc(100vh - 80px - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  overflow: hidden;
}

@media (min-width: 900px) {
  .contact {
    flex-direction: row;
  }
}
