.contact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

@media (min-width: 900px) {
  .contact {
    flex-direction: row;
  }
}
