.introduction {
  background-image: url("https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  min-height: calc(100vh + 15vh);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}
.introduction__name {
  font-size: 3.8rem;
  padding-bottom: 1em;
  letter-spacing: 1.6px;
  color: #e9aa35;
}
.introduction__job {
  font-size: 1.8rem;
  letter-spacing: 1.2px;
}
.introduction__triangle {
  border-bottom: 15vh solid #15191e;
}
