.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}
.social-media__title {
  font-size: 2.8rem;
  margin-bottom: 0.7em;
}
.social-media__link {
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  text-decoration: none;
  background: #e9aa35;
  color: #fff;
  border-radius: 20px;
  margin: 0.5em;
  font-size: 1.5rem;
}
.social-media__link p {
  margin-left: 10px;
}
@media (min-width: 900px) {
  .social-media {
    flex-basis: 100%;
  }
  .social-media__link {
    margin: 1rem;
  }
}
