:root {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.triangle {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  border-left: 99vw solid transparent;
}
